# Ignoramos el entorno virtual
venv/

# Ignoramos la descarga del modelo de whisper
.cache/

# Solo el contenido de la carpeta
sharedFolder/*
sharedFolder/

# Ignoramos el .md
TUTOR.md

# Ficheros de cache de Python
__pycache__/
*.pyc

# Los .mp4 y .mp3
*.mp4
*.mp3
*.mov